<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
       {% block title %}
         Based Title
       {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</head>
<body class="bg-dark">
    <header class="p-3 bg-dark text-white sticky-top">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url_for('main.index') }}"
               class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img"
                   aria-label="Home"><use xlink:href="#"></use></svg><h4>
                <span class="text-red">Our</span><span class="text-blue">Chan
            </span></h4><svg
                    class="bi me-2"
                                                      width="40" height="32"
                                   role="img"
                   aria-label="Home"><use xlink:href="#"></use></svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('main.news') }}"
                     class="nav-link px-2 text-white">News</a></li>
              <li><a href="{{ url_for('main.friends') }}"
                     class="nav-link px-2 text-white">Friends</a></li>
              <li><a href="{{ url_for('main.gambling') }}"
                     class="nav-link px-2 text-white">Gambling</a></li>
              <li><a href="{{ url_for('main.top_users') }}"
                     class="nav-link px-2 text-white">Top Users</a></li>
              {% endif %}
            </ul>


            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
                  action="{{ url_for('main.search') }}" method="GET">
              <input type="search" class="form-control form-control-dark"
                     placeholder="Search..." aria-label="Search"
                     name="query">
            </form>

            <div class="text-end">
              {% if current_user.is_authenticated %}
              <div class="dropdown">
                  <button class="btn btn-secondary me-2 dropdown-toggle"
                          type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_user.first_name }}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a href="{{ url_for('main.profile') }}"
                     class="nav-link px-2 text-white dropdown-item">My profile</a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.edit_profile') }}"
                     class="nav-link px-2 text-white dropdown-item">Edit
                            profile</a>
                    </li>
                    <li>
                        <a
                                href="{{ url_for('auth.change_password') }}"
                     class="nav-link px-2 text-white dropdown-item">Change password
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="btn btn-outline-light me-2 dropdown-item"
                             href="{{ url_for('auth.logout') }}">Logout
                        </a>
                    </li>
                  </ul>
              </div>
              {% else %}
              <a class="btn btn-outline-light me-2" href="{{ url_for('auth.login') }}">Login</a>
              <a class="btn btn-warning" href="{{ url_for('auth.signup') }}">Sign-up</a>
                {% endif %}
            </div>
          </div>
        </div>
    </header>
    <main class="container-xl align-content-center bg-dark text-light">
        {% block content %}
        <p>Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra Amogus Bebra
        Amogu Amogus Bebra Amogus Bebra Amogus Bebra </p>
        {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>