{% extends 'base.html' %}

{% block title%}
Edit
{% endblock %}

{% block content%}
<h2 class="text-lg-center">Edit profile</h2>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<form method="POST" action="{{ url_for('auth.change_password') }}"
      class="row g-3 needs-validation center"
      novalidate>
  <div class="col-md-7">
    <label for="old_password" class="form-label">Old password</label>
    <input id="old_password" name="old_password"
           aria-describedby="passwordHelpInline"
            type="password"
           class="form-control" required>
    <div class="invalid-feedback">
      Please put actual password
    </div>
  </div>
  <div class="col-md-7">
    <label for="validationCustom03" class="form-label">Password</label>
      <span id="passwordHelpInline" class="form-text">
      Must be 8-32 characters long and include digits, uppercase and
          lowercase letters.
    </span>
    <input name="new_password" aria-describedby="passwordHelpInline"
           type="password"
           class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Please pick a password
    </div>
  </div>
  <div class="col-md-7">
    <label for="validationCustom05" class="form-label">Repeat password</label>
    <input name="new_password_repeat" type="password" class="form-control"
           id="validationCustom05"
            required >
    <div class="invalid-feedback">
      Invalid value.
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save changes</button>
  </div>
</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock %}
