{% extends 'base.html' %}

{% block title%}
Edit
{% endblock %}

{% block content%}
<h2 class="text-lg-center">Edit profile</h2>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<form method="POST" action="{{ url_for('auth.edit_profile') }}"
      class="row g-3 needs-validation" enctype="multipart/form-data"
      novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input name="first_name" type="text" class="form-control"
           id="validationCustom01" value="{{ edit_form['first_name'] }}"
            required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please enter your first name.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input name="last_name" type="text" class="form-control"
           id="validationCustom02" value="{{ edit_form['last_name'] }}"
            required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please enter your last name.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Nickname</label>
    <input name="nickname" type="text" class="form-control"
           id="validationCustomUsername" value="{{ edit_form['nickname'] }}"
            aria-describedby="inputGroupPrepend" required>
    <div class="invalid-feedback">
      Please choose a username.
    </div>

  </div>
  <div class="col-md-12">
      <label for="ValidationEmail" class="form-label">Email</label>
      <input type="email" name="email" class="form-control"
             id="ValidationEmail" value="{{ edit_form['email'] }}" required>
      <div class="invalid-feedback">
      Please enter a valid email address.
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom04" class="form-label">Gender</label>
    <select name="gender" class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>male</option>
      <option>female</option>
      <option>custom</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-4">
    <label for="date_field" class="form-label">Date of birth</label>
    <div class="md-form md-outline input-with-post-icon datepicker">
      <input name="date_of_birth" placeholder="Select date" type="date"
             id="date_field" value="{{ edit_form['date_of_birth'] }}"
              class="form-control" required>
      <div class="invalid-feedback">
        Please select a valid date.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="myImageUploader5" class="form-label">Profile picture</label>
    <input id="myImageUploader5" type="file" class="form-control"
                                           aria-label="file example"
                                           accept="image/*" name="image" >
  </div>


  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save changes</button>
  </div>
</form>
<br>
<a href="{{ url_for('auth.change_password') }}"
   class="btn btn-danger btn-huge">Change password</a>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock %}
