{% extends 'base.html' %}

{% block title%}
{% if current_user.id == user.id %}
Friends
{% else %}
{{ user.first_name }}' friends
{% endif %}
{% endblock %}

{% block content%}
<h2 class="text-lg-center">{% if current_user.id == user.id %}
Friends
{% else %}
Friends of {{ user.get_name() }}
{% endif %}</h2>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button" role="tab"
            aria-controls="nav-home"
            aria-selected="true"><h2>Friends</h2></button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
            data-bs-target="#nav-profile" type="button" role="tab"
            aria-controls="nav-profile"
            aria-selected="false"><h2>Followers</h2></button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
            data-bs-target="#nav-contact" type="button" role="tab"
            aria-controls="nav-contact"
            aria-selected="false"><h2>Following</h2></button>
  </div>
</nav>
<br/>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      {% for friend in user.get_friends() %}
        <div class="card mb-2 bg-light text-black">
            <div class="row">
                <div class="col-auto img-thumbnail small">
                    {% if friend.profile_picture %}
                    <img class="img-thumbnail rounded-1"
                         src="{{ url_for('static', filename=friend.profile_picture) }}"
                         alt="{{ url_for('static', filename='media/user.svg') }}"
                         width="165" height="165">
                    {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title"><a
                            href="{{ url_for('main.profile_of', user_nickname=friend.nickname) }}">{{
                        friend.get_name() }}</a></h3>
                      <p class="card-text"><a
                              href="{{ url_for('main.profile_of', user_nickname=friend.nickname) }}">@{{ friend.nickname }}</a></p>
                    <p class="card-text">Net Worth: {{friend.net_worth}}</p>
                    <p class="card-text"><small class="text-muted">gender:
                        {{friend.gender}}; date of birth:
                        {{friend.date_of_birth}}</small></p>
                  </div>
                </div>
            </div>
        </div>
{% endfor %}
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      {% for follower in user.get_followers() %}
        <div class="card mb-2 bg-light text-black">
            <div class="row">
                <div class="col-auto img-thumbnail small">
                    {% if follower.profile_picture %}
                    <img class="img-thumbnail rounded-1"
                         src="{{ url_for('static', filename=follower.profile_picture) }}"
                         alt="{{ url_for('static', filename='media/user.svg') }}"
                         width="165" height="165">
                    {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title"><a
                            href="{{ url_for('main.profile_of', user_nickname=follower.nickname) }}">{{
                        follower.get_name() }}</a></h3>
                      <p class="card-text"><a
                              href="{{ url_for('main.profile_of', user_nickname=follower.nickname) }}">@{{ follower.nickname }}</a></p>
                    <p class="card-text">Net Worth: {{follower.net_worth}}</p>
                    <p class="card-text"><small class="text-muted">gender:
                        {{follower.gender}}; date of birth:
                        {{follower.date_of_birth}}</small></p>
                  </div>
                </div>
            </div>
        </div>
{% endfor %}
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      {% for following in user.get_followings() %}
        <div class="card mb-2 bg-light text-black">
            <div class="row">
                <div class="col-auto img-thumbnail small">
                    {% if following.profile_picture %}
                    <img class="img-thumbnail rounded-1"
                         src="{{ url_for('static', filename=following.profile_picture) }}"
                         alt="{{ url_for('static', filename='media/user.svg') }}"
                         width="165" height="165">
                    {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title"><a
                            href="{{ url_for('main.profile_of', user_nickname=following.nickname) }}">{{
                        following.get_name() }}</a></h3>
                      <p class="card-text"><a
                              href="{{ url_for('main.profile_of', user_nickname=following.nickname) }}">@{{ following.nickname }}</a></p>
                    <p class="card-text">Net Worth: {{following.net_worth}}</p>
                    <p class="card-text"><small class="text-muted">gender:
                        {{following.gender}}; date of birth:
                        {{following.date_of_birth}}</small></p>
                  </div>
                </div>
            </div>
        </div>
{% endfor %}
  </div>
</div>


{% endblock %}
