{% extends 'base.html' %}

{% block title%}
Gambling
{% endblock %}

{% block content%}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<h2 class="text-lg-center">Games for gambling</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger lg btn-huge"
        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add new game
</button>

<!-- Modal -->
<div class="modal fade text-black" id="staticBackdrop"
     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
            New post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('main.add_game') }}"
            method="POST"
            class="needs-validation my-post-form">
          <div class="modal-body">
              <div class="mb-3">
                <input name="name"
                        class="form-control"
                          id="validationName"
                          placeholder="Name your game"
                          maxlength="100"
                          required>
                <div class="invalid-feedback">
                  Please enter a name.
                </div>
              </div>
              <div class="mb-3">
                <input name="win_coef"
                        class="form-control"
                          id="validationWinCoef"
                          placeholder="Win coefficient - Integer number from 2 to 1000"
                          maxlength="4"
                          required>
                <div class="invalid-feedback">
                  Please enter a win coefficient.
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit"
                    class="btn btn-primary submit-add-post">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>
<br><br>

{% for game in games %}
<a class="btn btn-primary lg btn-huge"
   href="{{ url_for('main.game', game_id=game.id) }}">{{ game.name }}</a>
<br><br>
{% endfor %}

{% endblock %}
