{% extends 'base.html' %}

{% block title%}
Gambling
{% endblock %}

{% block content%}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<h2 class="text-lg-center">Game - {{ game.name }}</h2>
<div class="container-fluid">
  <p class="text-lg-center">Win coefficient - {{ game.win_coef }}</p>
  <p class="text-lg-center">Your balance - {{ current_user.net_worth }}</p>
</div>

<form action="{{ url_for('main.game', game_id=game.id) }}" method="POST">
  <label for="customRange3" class="form-label">Your bid</label>
  <input name="bid" type="number" min="1" max="{{ current_user.net_worth }}">
  <button type="submit"
                    class="btn btn-primary submit-add-post">Bid</button>
  </div>
</form>

{% endblock %}
