{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Welcome to the <span class="text-red">Our</span><span class="text-blue">Chan</span></h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">This is something new. <span class="text-red">
            Our</span><span class="text-blue">Chan</span> is something between
            image-board and social network. There you can blog, comment
            other users' posts, make friends or follow someone. Also there
            are virtual money called OurCoin that has no value in the real
            life, and you earn them every day and its amount depends on how many
            friends and followers you have. You can spend or increase your
            reserve in <b>Gambling room</b>.
            <br/>Join us for free now and enjoy <span class="text-red">Our
            </span>
                site </p>
          {% if not current_user.is_authenticated %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{{ url_for('auth.signup') }}" type="button"
             class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Sign-up</a>
          <a href="{{ url_for('auth.login') }}" type="button"
             class="btn btn-outline-light btn-lg px-4">
              Login</a>
        </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}