{% extends 'base.html' %}

{% block title%}
Login
{% endblock %}

{% block content%}
<h2 class="text-lg-center">Authorization</h2>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

{% macro render_field(field) %}
<div class="col-md-6 align-content-lg-center">
    <dt><span class="form-label">{{ field.label }}</span>
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
</div>
{% endmacro %}

<form method="POST" action="{{ url_for('auth.login') }}"
      class="row g-3 align-items-center align-content-center">
  <div class="col-lg-7">
    <label class="form-label" for="EmailField">Email</label>
    <span id="EmailField" class="form-control">{{ form.email|safe }}</span>
    {% if form.email.errors %}
      <ul class=errors>
      {% for error in form.email.errors %}
        <li class="alert-danger bs-popover-bottom">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="col-lg-7">
    <label class="form-label" for="PasswordField">Password</label>
    <span id="PasswordField" class="form-control">{{ form.password|safe }}</span>
    {% if form.password.errors %}
      <ul class=errors>
      {% for error in form.password.errors %}
        <li class="alert-danger bs-popover-bottom">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col-lg-6">
    <span id="RememberCheck" class="form-check-inline">{{ form.remember|safe }}</span>
    <label class="form-check-label" for="RememberCheck">remember me</label>
  </div>
  <input type=submit class="btn btn-primary" value=Login>
</form>

{% endblock %}
