{% extends 'base.html' %}

{% block title%}
News
{% endblock %}

{% block content%}
<h2 class="text-lg-center">News</h2>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

{% for post in news %}
<div class="container-fluid align-content-center">
    <div class="row">
        <div class="col">

            <div class="card text-black">
                <div class="card-header">
                    <div class="row-cols-2">
                        <div class="nav">
                            <div class="col-auto">
                                <img
                                        src="{{ url_for('static', filename=post.user.profile_picture) }}"
                                     alt="{{ url_for('static', filename='media/user.svg') }}"
                                width="70"
                                height="70"
                                class="img-thumbnail rounded">
                            </div>
                            <div class="col-auto">
                            <a class="nav-link"
                                    href="{{ url_for('main.profile_of', user_nickname=post.user.nickname) }}">{{
                                post.user.get_name()
                                }}</a>
                            <a href="{{ url_for('main.comment', post_id=post.id) }}" class="nav-link">{{ post.created_at.month
                                }}.{{
                                post.created_at.day }}.{{ post.created_at.year }}
                                {{
                                post.created_at.hour }}:{{ post.created_at.minute
                                }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if post.images %}
                        <div id="carousel{{ post.id }}"
                             class="carousel carousel-dark slide" data-bs-ride="carousel">
                        {% if post.images.__len__() > 1 %}
                          <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carousel{{ post.id }}"
                                    data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button"
                                    data-bs-target="#carousel{{ post.id }}"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                            {% if post.images.__len__() > 2 %}
                            <button type="button"
                                    data-bs-target="#carousel{{ post.id }}"
                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                            {% endif %}
                            {% if post.images.__len__() > 3 %}
                            <button type="button"
                                    data-bs-target="#carousel{{ post.id }}"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 3"></button>
                            {% endif %}
                          </div>
                        {% endif %}
                          <div class="carousel-inner">
                            {% for image in post.images[:1:] %}
                            <div class="carousel-item active" data-bs-interval="10000">
                              <img src="{{ url_for('static', filename=image.file) }}"
                                   class="d-block w-100" alt="..."
                                   style="height:640px">
                            </div>
                            {% endfor %}
                            {% for image in post.images[1::] %}
                            <div class="carousel-item" data-bs-interval="10000">
                              <img src="{{ url_for('static', filename=image.file) }}"
                                   class="d-block w-100" alt="..."
                                   style="height:640px">
                            </div>
                            {% endfor %}
                          </div>
                        {% if post.images.__len__() > 1 %}
                          <button class="carousel-control-prev" type="button"
                                  data-bs-target="#carousel{{ post.id }}"
                                  data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button"
                                  data-bs-target="#carousel{{ post.id }}"
                                  data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            {{ post.text }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group mb-2">
                        {% if current_user.liked(post.id) %}
                        <button class="btn btn-danger like-btn"
                                id="unlike_{{ post.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                            </svg>  {{ post.likes.__len__() }}</button>
                        {% else %}
                        <button class="btn btn-outline-danger like-btn"
                                id="like_{{ post.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                            </svg>  {{ post.likes.__len__() }}</button>
                        {% endif %}
                        <a
                                href="{{ url_for('main.comment', post_id=post.id) }}"
                           type="button"
                           class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                              <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                            </svg>
                            {{ post.get_comments().__len__() }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}

<!-- PAGINATION BUTTONS -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-5">
        {% if page_id > 1 %}
        <li class="page-item"><a class="page-link"
               href="{{ url_for('main.news_page', page_id=1) }}"
               tabindex="-1">First page
        </a></li>
        {% endif %}
        <li class="page-item">
            {% if page_id > 0 %}
            <a class="page-link"
               href="{{ url_for('main.news_page', page_id=page_id) }}"
               tabindex="-1">Previous
            </a>
            {% else %}
            <a class="page-link"
               href="#"
               tabindex="-1" disabled>Previous
            </a>
            {% endif %}
        </li>
        <li class="page-item w-25 text-center"><a class="page-link"
                                                  href="#">{{ page_id +
            1}}</a></li>
        <li class="page-item">
            {% if page_id < max_id %}
            <a class="page-link"
               href="{{ url_for('main.news_page', page_id=page_id + 2) }}"
               tabindex="-1">Next
            </a>
            {% else %}
            <a class="page-link"
               href="#"
               tabindex="-1" disabled>Next
            </a>
            {% endif %}
        </li>
        {% if page_id < max_id - 1 %}
        <li class="page-item">
        <a class="page-link"
               href="{{ url_for('main.news_page', page_id=-1) }}"
               tabindex="-1">Last page
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
