{% extends 'base.html' %}

{% block title%}
Search
{% endblock %}

{% block content%}
<h1 class="text-lg-center" xmlns="http://www.w3.org/1999/html">Search</h1>
<br/>
<form class="input-group mb-3 text-light" action="{{ url_for('main.search') }}" method="GET">
  <input name="query" type="search" class="form-control"
         placeholder="Type the name..." value="{{ q_txt }}"
         aria-label="Type the name..." aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endwith %}

{% if q_txt %}
<h3>Result of search by request "{{ q_txt }}"</h3> <br/>
{% endif %}
{% for user in searched_users %}
<div class="card mb-3 bg-light text-black">
    <div class="row">
        <div class="col-auto img-thumbnail small">
            {% if user.profile_picture %}
            <img class="img-thumbnail rounded-1"
                 src="{{ url_for('static', filename=user.profile_picture) }}"
                 alt="{{ url_for('static', filename='media/user.svg') }}"
                 width="165" height="165">
            {% else %}

            {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><a
                    href="{{ url_for('main.profile_of', user_nickname=user.nickname) }}">{{
                user.first_name + ' ' + user.last_name }}</a></h3>
              <p class="card-text"><a
                      href="{{ url_for('main.profile_of', user_nickname=user.nickname) }}">nickname: {{ user.nickname }}</a></p>
            <p class="card-text">Net Worth: {{user.net_worth}}</p>
            <p class="card-text"><small class="text-muted">gender: {{user.gender}}; date of birth:
                {{user.date_of_birth}}</small></p>
          </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
