{% extends 'base.html' %}

{% block title%}
Sign-up
{% endblock %}

{% block content%}
<h2 class="text-lg-center">Registration</h2>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<form method="POST" action="{{ url_for('auth.signup') }}"
      class="row g-3 needs-validation"
      novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input name="first_name" type="text" class="form-control"
           id="validationCustom01" value="{{ signup_form['first_name'] }}"
            required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please enter your first name.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input name="last_name" type="text" class="form-control"
           id="validationCustom02" value="{{ signup_form['last_name'] }}"
            required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please enter your last name.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Nickname</label>
    <input name="nickname" type="text" class="form-control"
           id="validationCustomUsername" value="{{ signup_form['nickname'] }}"
            aria-describedby="inputGroupPrepend" required>
    <div class="invalid-feedback">
      Please choose a username.
    </div>

  </div>
  <div class="col-md-12">
      <label for="ValidationEmail" class="form-label">Email</label>
      <input type="email" name="email" class="form-control"
             id="ValidationEmail" value="{{ signup_form['email'] }}" required>
      <div class="invalid-feedback">
      Please enter a valid email address.
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Password</label>
      <span id="passwordHelpInline" class="form-text">
      Must be 8-32 characters long and include digits, uppercase and
          lowercase letters.
    </span>
    <input name="password" aria-describedby="passwordHelpInline" type="password"
           class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Please pick a password
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom05" class="form-label">Repeat password</label>
    <input name="password_repeat" type="password" class="form-control"
           id="validationCustom05"
            required >
    <div class="invalid-feedback">
      Invalid value.
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom04" class="form-label">Gender</label>
    <select name="gender" class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>male</option>
      <option>female</option>
      <option>custom</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-6">
    <label for="date_field" class="form-label">Date of birth</label>
    <div class="md-form md-outline input-with-post-icon datepicker">
      <input name="date_of_birth" placeholder="Select date" type="date"
             id="date_field" value="{{ signup_form['date_of_birth'] }}"
              class="form-control" required>
      <div class="invalid-feedback">
        Please select a valid date.
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Create account</button>
  </div>
</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock %}
