{% extends 'base.html' %}

{% block title%}
Top users
{% endblock %}

{% block content%}
<h2 class="text-lg-center align-content-center">Top 20 richest users</h2>
{% for user in users_top %}
<div class="card mb-3 bg-light text-black">
    <div class="row position-relative border bg-light shadow-sm">
        <div class="col-auto img-thumbnail">
            {% if user.profile_picture %}
            <img class="img-thumbnail "
                 src="{{ url_for('static', filename=user.profile_picture) }}"
                 alt="0_0"  width="165" height="165">
            {% else %}
            <svg class="img-thumbnail">...</svg>
            {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{ user.rnk }}. <a
                    href="{{ url_for('main.profile_of', user_nickname=user.nickname) }}">{{
                user.name }}</a></h3>
              <p class="card-text"><a
                      href="{{ url_for('main.profile_of', user_nickname=user.nickname) }}">nickname: {{ user.nickname }}</a></p>
            <p class="card-text">Net Worth: {{user.net_worth}}</p>
            <p class="card-text"><small class="text-muted">gender: {{user.gender}}; date of birth:
                {{user.date_of_birth}}</small></p>
          </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
